<a href="https://colab.research.google.com/github/anyuanay/DSCI521-summer2025/blob/main/week0/DSCI521_week0_programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DSCI 521: Methods for analysis and interpretation<br>Chapter 0.2: Programming fundamentals

## 0.2 Programming fundamentals
If you do not have programming experience or are unfamiliar with the Python syntax, please consider following the (10 hr) online Python course from codecademy to get in the swing of things before week 1.

- https://www.codecademy.com/learn/learn-python

Note: some introduction to Python is provided in this notebook, but this is mostly just a fast/light refresher/introduction to some of the common commands we'll be using.

### 0.2.1 How do Jupyter Notebooks work for Python development?

Since these lectures notes are a Jupyter notebook with a Python kernel, this notebook is itself our Python development environment. Interacting with Jupyter for basic programming is straight forward. Commands are typed in code cells and executed by typing:

> `<SHIFT> + <RETURN>`

In [ ]:
print("Hello world?")

Hello world?

Objects defined in one cell will persist in and be modified by subsequently executed cells:

In [ ]:
mystring = "this is some text"

In [ ]:
print(mystring)

this is some text

In [ ]:
mystring = "and " + mystring + " that I have added to the string"

In [ ]:
print(mystring)

and this is some text that I have added to the string

### 0.2.2 Python Programming

Python is an object-oriented programming language with a light syntax that makes it easy to read. It's got lots of pre-developed libraries for quantitative analysis and visualization as well as lots of low-level function for system integration and data management.

Your assignments in this course will require Python programming. However, varying degrees of experience are expected making independent learning of Python programming an expectation for the course. In addition to your instructor, Python programming resources for this course include:

- Course textbooks: The Data Science Handbook, Data Science From Scratch, and the Python Data Science Handbook all provide python programing resources.
- The docs: [Python's official documentationn](https://docs.python.org) is quite readable
- Your classmates: All assignments will be group-based work. Collaborate and learn from each other.
- Stackoverflow: A search in the help forums often produces best/quickest answer.

Of our textbooks, Data Science From Scratch probably delivers the most on Python's fundementals, which we'll now follow.

#### 0.2.2.1 Python's general formatting and code structure

Python uses whitespace for formatting. Here's an example that loops over some integers, does some addition, and prints them out. Notice that indentation defines a command's depth in the loop:

In [ ]:
for i in [1, 2, 3, 4, 5]:
    print(i) # first line in "for i" block
    for j in [1, 2, 3, 4, 5]:
        print(j) # first line in "for j" block
        print(i + j) # last line in "for j" block
    print(i) # last line in "for i" block
print("done looping")

1
1
2
2
3
3
4
4
5
5
6
1
2
1
3
2
4
3
5
4
6
5
7
2
3
1
4
2
5
3
6
4
7
5
8
3
4
1
5
2
6
3
7
4
8
5
9
4
5
1
6
2
7
3
8
4
9
5
10
5
done looping

Whitespace is ignored inside of parentheses and brackets, and backslashes continue lines:

In [ ]:
long_winded_computation = (1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 + 11 + 12 +
                           13 + 14 + 15 + 16 + 17 + 18 + 19 + 20)
print(long_winded_computation)

210

"blocking out" statement allows you to see object structure

In [ ]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

print(list_of_lists)

easier_to_read_list_of_lists = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(easier_to_read_list_of_lists)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

Sometimes there are no whitespace-ignoring parentheses and Python needs to be told that the statement is not over:

In [ ]:
two_plus_two_is = 2 +\
2
print(two_plus_two_is)

4

### 0.2.3 Data types
There modules that allow Python to represent very complex and specific data structures, like images. The default data structures in Python include the classics: integers, floating point numbers, string, and ordered and associative arrays. But there are also some nice alternatives for mutability.

#### 0.2.3.1 Mutability
This refers to the indirect changability of an object. For example, we can define a list of numbers and change one entry on its own:

In [ ]:
## defining the list of five indices
first_five_indices = list(range(5))
print(first_five_indices)

## changing the 3rd entry to the string "z"

first_five_indices[2] = "z"
print(first_five_indices)

[0, 1, 2, 3, 4]
[0, 1, 'z', 3, 4]

While a string is technically a special type of list in Python, it is an immutable object type. So we will not be able to change the value of a string!

In [ ]:
a_silly_string = "one fish two fish red fish blue fish"
print(a_silly_string[0])
a_silly_string[0] = "z"

o

TypeError: 'str' object does not support item assignment

### 0.2.4 Basic immutable data types
In addition to strings, floats and integers are also immutable:

- `str()`: delimited by double- or single-quotes, these generally represent text
- `int()`: delimited by any number without a decimal point, integers are negative & positive counting numbers
- `float()`: delimited by any number witha decimal point, these are used in calculations

Objects of these types are often defined through arithmetic on other existing variables, and a number of characters have to be 'escaped' (e.g., `"\""` for double quote) to be represented as strings.

In [ ]:
## defining some strings
empty_string = str()
print("\""+empty_string+"\"")
other_empty_string = ""
print("\""+other_empty_string+"\"")
a_silly_string_example = a_silly_string + " another fish"
print("\""+a_silly_string_example+"\"")

print("")
## defining some ints
zero = int()
print(zero)
other_zero = 0
print(other_zero)
seven = other_zero + 7
print(seven)
print("")

""
""
"one fish two fish red fish blue fish another fish"

0
0
7

### 0.2.5 `list`s: mutable ordered arrays
Ordered arrays are data structures that are indexed by integers. When defined, each index points to s specified object. Notably, lists are mutable.

In [ ]:
## defining some lists
empty_list = list()
print(empty_list)

other_empty_list = []
print(other_empty_list)

list_of_numbers = [1,2,3,4]
print(list_of_numbers)

list_of_lists_of_numbers = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]
print(list_of_lists_of_numbers)

[]
[]
[1, 2, 3, 4]
[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

#### 0.2.5.1 `list` slicing
Lists can be _sliced_ to retrieve several values in a row. Note that `list` indexing starts at 0, and that slicing ends with the index larger than the last element desired.

In [ ]:
list_of_numbers = [1,2,3,4]

## slicing out the first two numbers from the list
first_two = list_of_numbers[0:2]
print(first_two)

## changing the first element of the sliced list
first_two[0] = 10
print(first_two)

## since lists are mutable, we can replace just the first half of the original list!
list_of_numbers[0:2] = first_two
print(list_of_numbers)

[1, 2]
[10, 2]
[10, 2, 3, 4]

#### 0.2.5.2 Reverse indexing
`list`s can be indexed backwardsly. This means that you can use negative values to go through a list in reverse.

In [ ]:
## for a list of length N's list indices: N - 1 == -1, N - 2 == -2, ..., N - N == 0
print(list_of_numbers[3])
last_digit = list_of_numbers[-1]
print(last_digit)

## this is very helpful for slicing the tail off of a list
last_two = list_of_numbers[-2:] # leaving the endpoint blank slices through the end
print(last_two)

4
4
[3, 4]

#### 0.2.5.3 Packing
You can unpack lists if you place names for their concents. This comes in handy when you want to iterate over groups of elements.

In [ ]:
## one of these might have been modified!!
one, two, three, four = list_of_numbers
print(one)
print(four)

10
4

#### 0.2.5.4 Modifying lists
Since they're mutable, `list`s are often extended or appended to. The `.append()` methods adds an element to the end of a list
and the `.extend()` method incorporates a slice of elements to the end of a list.

In [ ]:
## appending to an extending some more lists numbers
some_more_numbers = [1,2,3,4,5,6]
print(some_more_numbers)

some_more_numbers.append(7)
print(some_more_numbers)

some_more_numbers.extend([9,10])
print(some_more_numbers)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 9, 10]

### 0.2.6 Dictionaries: mutable associative arrays
Like lists, dictionaries hold multiple values, but are indexed by a greater variety of data structures. Instead of just integers, dictioanries can be indexed by any immutable data structures, such as strings and floats. This means that it's not just important what the values are, but likewise the keys (indices) that get you the values.

In [ ]:
## defining some dictionaries
empty_dict = dict()
print(empty_dict)
other_empty_dict = {}
print(other_empty_dict)
print("")

dict_of_number_names = {1: "one", 2: "two", 3: "three", 4: "four"}
print(dict_of_number_names)
print(dict_of_number_names[3])
print("")

dict_of_lists_of_four_numbers = {
    "first": [1,2,3,4],
    "second": [5,6,7,8],
    "third": [9,10,11,12]
}
print(dict_of_lists_of_four_numbers)
print(dict_of_lists_of_four_numbers["first"])

{}
{}

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}
three

{'first': [1, 2, 3, 4], 'second': [5, 6, 7, 8], 'third': [9, 10, 11, 12]}
[1, 2, 3, 4]

#### 0.2.6.1 Specialized dictionaries
Two functions from the `collections` module: `defaultdict()` and `Counter()` spawn nice versions of dictionaries with pre-set default values.
We'll use these more later. Note how defaultdict is well-utilized by lambda functions to set default values.

In [ ]:
## these don't come in Python by default
from collections import defaultdict, Counter

## define an empty Counter() object
character_counts = Counter()
chars = ";kbagkbafgsdfbk"

for char in chars:
    character_counts[char] += 1 # the `+=` idiom is a short way to code incrementation
print(character_counts["a"])
print("")

## define a defaultdict() that defaults to a list
sebsequent_characters = defaultdict(lambda : []) ## note that there is no input:
##                                                 all unknown inputs lead to empty list output

for i, char in enumerate(chars): # Here' we've unpacked enumerate's index-element pairs during iteration
    if i:
        sebsequent_characters[chars[i-1]].append(char)

sebsequent_characters["a"]

2

['g', 'f']

### 0.2.7 Tuples: immutable ordered arrays
Tuples look and function a lot like lists, but are immutable. This means they can be used as dictionary keys!

In [ ]:
## tuples are defined using round parentheses
empty_tuple = tuple()
print(empty_tuple)
other_empty_tuple = ()
print(other_empty_tuple)
first_four_tuple = (1,2,3,4)
print(first_four_tuple)
print("")

## you can't modify the elements of a tuple!
first_four_tuple[0] = 10

()
()
(1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

### 0.2.8 Sets: unordered collections of  unique elements
Sets are mutable and keep track only of the variety of objects they hold. If iterated upon, element order is system determined.

In [ ]:
## set also use curly braces, but have no values
empty_set = set()
print(empty_set)
empty_dict = {}
print(empty_dict)
first_four_set = {1,2,3,4}
print(first_four_set)

set()
{}
{1, 2, 3, 4}

#### 0.2.8.1 modifying `set`s
Like `list()`'s `.append()` and `.extend()`, sets have the `.add()` and `.remove()` methods to manage contents.

In [ ]:
first_four_set = {1,2,3,4}
print(first_four_set)
first_four_set.add(5)
print(first_four_set)
first_four_set.add(4) # note that adding an existing element does nothing
print(first_four_set)
first_four_set.remove(1)
print(first_four_set)

{1, 2, 3, 4}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{2, 3, 4, 5}

#### 0.2.8.2 `set()` operations
Python's `set`s are generally made to reflect the behavior of mathematical sets. This means there are some very nice quantitative operations, like the `.union()`, `.intersection()`, and `.difference()` methods.

In [ ]:
print(first_four_set.intersection({1,2,4}))
print(first_four_set.difference({1,2,4}))

{2, 4}
{3, 5}

### 0.2.9 Object comprehensions: succicnt definitions and transformations
Frequently, youâ€™ll want to transform a list into another list, by choosing only certain
elements, or by transforming elements, or both. Some example list comprehensions are:

In [ ]:
## making a list of the squared indices

first_five_indices = range(5)
print(first_five_indices)

## syntax: [<VALUE> for <ELEMENT> in <ITERABLE>]
squares = [x * x for x in first_five_indices] # note: x is a dummy variable
print(squares)

range(0, 5)
[0, 1, 4, 9, 16]

#### 0.2.9.1 Basic comprehension syntax
You can also use comprehensions for dictionaries, sets, and tuples.
The name of the game is just to use the appropriate brackets/parentheses and syntax!

In [ ]:

first_five_indices = range(5)

square_dict = { x : x * x for x in first_five_indices }
print(square_dict)
square_set = { x * x for x in first_five_indices }
print(square_set)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
{0, 1, 4, 9, 16}

### 0.2.10 Looping over collections
#### 0.2.10.1 Iteration
Iteration is performed by Python's `for` statement applied to iterable objects. In Python, these include:

- lists, in the ordered array's set order
- generators, in the order of generation
- strings, in the order of their characters
- dictionaries, in a system-defined order of their keys
- sets, in a system-defined order of their elements

In [ ]:
## syntax: for <ELEMENT> in <ITERABLE>:

for char in a_silly_string:
    print(char)

o
n
e

f
i
s
h

t
w
o

f
i
s
h

r
e
d

f
i
s
h

b
l
u
e

f
i
s
h

#### 0.2.10.2 Enumerating the items of an iterable object
Calling `enumerate()` on an iterable object produces pairs of the items and their indices.

In [ ]:
for index_char in enumerate(a_silly_string):
    print(index_char)

(0, 'o')
(1, 'n')
(2, 'e')
(3, ' ')
(4, 'f')
(5, 'i')
(6, 's')
(7, 'h')
(8, ' ')
(9, 't')
(10, 'w')
(11, 'o')
(12, ' ')
(13, 'f')
(14, 'i')
(15, 's')
(16, 'h')
(17, ' ')
(18, 'r')
(19, 'e')
(20, 'd')
(21, ' ')
(22, 'f')
(23, 'i')
(24, 's')
(25, 'h')
(26, ' ')
(27, 'b')
(28, 'l')
(29, 'u')
(30, 'e')
(31, ' ')
(32, 'f')
(33, 'i')
(34, 's')
(35, 'h')

### 0.2.11 Modules
Part of the Python appeal at this point is the wealth of well-constructed code libraries, or, modules. These allow programmers to stand on each others' shoulders and save time on code re-creation.

Many Python features don't exist by default. Python can only do basic arithmatic and has limited string (text) manipulation to start. Modules that help with these issues are `numpy` and `re`. Most of what we'll be working on in this course and DSCI 521 will be done using the following modules: `numpy`, `re`, `sys`, `os`, `scipy`, `pandas`, `PIL`, `matplotlib`, `ipython`, `datetime`, `bs4`, and `requests`. There are probably some others, but we'll get to these on the fly.

Some modules won't come with your Python distribution. So, if you try and run code and a module, e.g., `numpy` doesn't exist, what can you do? Use a package manager to download modules from your computer's command line. If you needed to download numpy using either of the Python Package Index (`pip`) or Anaconda (`conda`), you would execute one of the following commands:

> `>>> pip install numpy` <br>
> `>>> conda install numpy`

Note: if you have set up Python from multiple sources and/or are downloading modules from multiple sources you might have to configure your `PYTHONPATH` command-line variable to make sure that your system looks for/loads modules from the correct places and in the correct order. This works just like the `PATH` variables discussed in the blog post on command line system configuration (in section 1, above):

- https://natelandau.com/my-mac-osx-bash_profile/

Once again, even though this post is about someone's Mac, the general concepts of profiles, `PATH` variables, alias', and hidden files should all translate, regardless of operating systems and shells.

#### 0.2.11.1 Example 1: `numpy`
This module turns Python into an excellent calculator. It means your can calculate averages and many, many more complex numerical tasks with abstracted commands and less control structure.

In [ ]:
## it often helps to shorten the names of your modules
import numpy as np

first_five_indices = range(5) # range is a built-function that makes integers

## computing an average the old-fashioned way
average = 0
for number in first_five_indices:
    average = average + number
average = average / float(len(first_five_indices))

print(average)

## using numpy's mean function
print(np.mean(first_five_indices))

2.0
2.0

#### 0.2.11.2 Example 2: `regex`
This module turns Python into an excellent string (text) manipulator. This means that `regex` adds capability for things like pattern searching and replacing.

Note: regex is a Python 3 specific module offering improvements over the `re` legacy module, levt over from Python 2. For most task `re` does fine, but `regex` can do a few nice extra things, like character class modification. For simplicity, we'll `import regex as re` whenever we're using it.

In [ ]:
import regex as re

a_silly_string = "one fish two fish red fish blue fish"
print(a_silly_string)

## removing blue fish from the picture
only_one_fish_left = re.sub(" (two|red) fish","",a_silly_string)
print(only_one_fish_left)

one fish two fish red fish blue fish
one fish blue fish

### 0.2.12 Functions

#### 0.2.12.1 Explicit functions
A function is a rule for taking zero or more inputs and returning a corresponding output. A common way to define functions is `def`:

In [ ]:
def double(x):
    """this is where you put an optional docstring
    that explains what the function does.
    for example, this function multiplies its input by 2"""
    return x * 2

In [ ]:
print("this is what happens when you double a number:")
print(double(2))
print("")
print("this is what happens when you double a string:")
print(double("ha"))
print("")
print("this is what happens when you double a list:")
print(double([4,"haha"]))
print("")

this is what happens when you double a number:
4

this is what happens when you double a string:
haha

this is what happens when you double a list:
[4, 'haha', 4, 'haha']

Functions can have preset values:

In [ ]:
def double(x="trouble!"):
    """this is where you put an optional docstring
    that explains what the function does.
    for example, this function multiplies its input by 2"""
    return x * 2

In [ ]:
print("this is what happens when you double a number:")
print(double(2))
print("")
print("this is what happens when you nothing:")
print(double())
print("")

this is what happens when you double a number:
4

this is what happens when you nothing:
trouble!trouble!

#### 0.2.12.2 Anonymous (lambda) functions
Unlike `def`ined functions, anonmyous functions require extreme brevity of statement. Thus, their syntax orients them towards convenience at defining small, non-complex functions. Lambda functions are commonly used for relatively-simple data transformations or when rule needs to be passed to an explicit function, for example, telling what rule the built in `filter(f, data)` function should use to cut down on some data.

In [ ]:
## the syntax is `lambda input: output`

lambda_double = lambda x: x * 2 # note x is a dummy variable

print("this is what happens when you double a number:")
print(lambda_double(2))
print("")
print("this is what happens when you double a string:")
print(lambda_double("ha"))
print("")
print("this is what happens when you double a list:")
print(lambda_double([4,"haha"]))
print("")

this is what happens when you double a number:
4

this is what happens when you double a string:
haha

this is what happens when you double a list:
[4, 'haha', 4, 'haha']

#### 0.2.12.3 `*args` and `**kwargs`
When a function is defined there are generally two types of arguments that one may pass. These are _position_ and _keyword_ arguments. Position arguments are those for which no default values are specified, while keyword arguments are those which have default values (because these latter types of arguments have both _key_ and _value_. Thus, Python (like most other languages) has special, pass-through argument-setting capacity, where, e.g., if you know you just want to pass the arguments from one function through to another, you can. For both positional and keyword arguments the _splat_ operator, `*`, is used. In particular, defining a function to first accept a single-splat argument&mdash;`*args`&mdash; will provide the programmer access to a `tuple` of all positional arguments under the `args` object name. Providing a second, double-splat argument&mdash;`**kwargs`&mdash;passes through a `dict` of all keyword arguments under the `kwargs` object name. Note that the usage of both of the names `args` and `kwargs` is optional (they can be named elsewise), but a strong convention.

For example, we can define a function that simply prints its `*args` and `**kwargs` (below). If you'd like, think of this as a way of setting your functions to accept _completely_ arbitrary input.

In [ ]:
def args_n_kwargs(*args, **kwargs):
    print("here's the args: ", args)
    print("here's the kwargs: ", kwargs)

args_n_kwargs(2,3,4.0,"string",True, fun = "computation + calculation", tired = True, sleep = "important!")

here's the args:  (2, 3, 4.0, 'string', True)
here's the kwargs:  {'fun': 'computation + calculation', 'tired': True, 'sleep': 'important!'}

### 0.2.13 Control Flow

#### 0.2.13.1 Conditioning
As with most programming languages, actions can be performed conditionally using `if`.  This includes the basic `if` along with its partial counterparts: `elif` and `else`.

In [ ]:
if 1 > 2:
    message = "if only 1 were greater than two..."
elif 1 > 3:
    message = "elif stands for 'else if'"
else:
    message = "when all else fails use else (if you want to)"
print(message)

when all else fails use else (if you want to)

#### 0.2.13.2 Conditional assignment
A neat feature in Python utilizes control flow to afford succinct nimble object assignment. Here, the value of an assigned object depends on the state of a different object.

In [ ]:
## The syntax is `object = <VALUE> if <CONDITION> else <VALUE>`

number_of_fishes = 2 if re.search("red", a_silly_string) and re.search("red", a_silly_string) else 1
print(number_of_fishes)

number_of_fishes_left = 2 if re.search("red", only_one_fish_left) and re.search("red", only_one_fish_left) else 1
print(number_of_fishes_left)

2
1

#### 0.2.13.3 Truthiness
In Python, you can use just about any object for its boolean (true/false) value. Mostly, default, empty, and completely unmodified objects will result in `False` boolean interpretations. Otherwise, objects will be interpreted as `True`. The list of falsies includes:

- `False` (Boolean False)
- `None` (A nonexistent value)
- `[]` (an empty list)
- `{}` (an empty dict)
- `""` (an empty string)
- `set()` (an empty set)
- `0` (the integer zero)
- `0.0` (the float zero)

For example, we can use object truthiness to control a while loop:

In [ ]:
## makes a list of things
things = ["this", "that", "the other", "that", "this", "that"]
while things: ## check the boolean value of `things`; stops when `things` is empty
    ## 'pops' the last element off of the list
    thing = things.pop()
    print("Got another of "+thing+" one")

Got another of that one
Got another of this one
Got another of that one
Got another of the other one
Got another of that one
Got another of this one

#### 0.2.13.4 Infullness
As a type of truthyness operator, Python's `in` checks if a replicate of an object exists inside of another.

Note: `in` checks inclusion in collections (keys, for dictionaries), and is slow when applied to lists.

In [ ]:
## our example set
first_four_set = {1,2,3,4}

## 1 is in this set
one_is_in = 1 in first_four_set
print(one_is_in)

## 5 is not in this set
five_not_in = 5 in first_four_set
print(five_not_in)

True
False

#### 0.2.13.5 Exceptions
When something goes wrong, Python raises an exception. Unhandled, these will cause
your program to crash. You can handle them using the `try`/`except` syntax.

Note: You cannot do a `try` without an `except`, but the `except` can be universal, i.e., you can leave out the `ZeroDivisionError` specification. However, bugs relating to code in `try`/`except` contexts can be very difficult to diagnose, especially if explicit exceptions are not used. Here's a specific divides by zero example:

In [ ]:
## this prevents the program from crashing when we divide by zero
try:
    print(0 / 0)
except ZeroDivisionError:
    print("cannot divide by zero")

cannot divide by zero

### 0.2.14 File i/o
The format or act of saving/outputting a file is often referred to as `serialization`. If we're fortunate enough to have found some data in a common format then there's generally a convenient way to load it into memory. Saving (serializing) data is generally just as straightforward!

#### 0.2.14.1 Writing
Python's built-in method for loading (saving) data from (to) disk is the `open()` function. The first important thing about `open()` is specifying if you are reading (loading) from (`'r'`) or writing (saving) to (`'w'`, ) a file.

In [ ]:
## first things first, let's write some text to a file to create some data
file_handle = open("data/example_text_file.txt", "w") # overwrites the file path to an empty file

## each .write() command prints the string to the file
file_handle.write("Here's a bit of text.\n")
file_handle.write("Here's a bit more of that text.\n")

## to finish the job we have to close the file handle
file_handle.close()

#### 0.2.14.2 Reading
Reading a file looks a lot like writing (but in reverse), which we can do now that we have a file.
Just make sure you specify `'r'` when reading so as not to overwrite your data!

In [ ]:
## opens the file handle into read mode
file_handle = open("data/example_text_file.txt", "r")

text_file_as_string = file_handle.read()
print(text_file_as_string)

file_handle.close()

Here's a bit of text.
Here's a bit more of that text.

#### 0.2.14.3 Appending
If you want to add to a file, use the `'a'` argumnent to append.
Specifing `'w'` means you're overwriting the whole file. Here's an append example:

In [ ]:
## open the text file in append mode
file_handle = open("data/example_text_file.txt", "a")

## each .write() command prints the string to the file
file_handle.write("And finally, some final thoghts right here.\n")

## to finish the job we have to close the file handle
file_handle.close()

## opens the file handle into read mode
file_handle = open("data/example_text_file.txt", "r")

text_file_as_string = file_handle.read()
print(text_file_as_string)

## to finish the job we have to close the file handle
file_handle.close()

Here's a bit of text.
Here's a bit more of that text.
And finally, some final thoghts right here.

#### 0.2.14.4 Pythonic file i/o
If you haven't heard or read the term `Pythonic` yet, it refers to the intentionally succicnt ways of performing task that Python affords. Using the `with` idiom and Python's indentation, here's a nicer way to approach file i/o

In [ ]:
## let's print another line for good measure
## Note this idiom automattically closes the handle
with open("data/example_text_file.txt", "a") as file_handle:
    file_handle.write("And for good measure, some more text.")

## now, use the same idiom to read the data from file
with open("data/example_text_file.txt", "r") as file_handle:
    text_file_as_string = file_handle.read()
print(text_file_as_string)

Here's a bit of text.
Here's a bit more of that text.
And finally, some final thoghts right here.
And for good measure, some more text.

#### 0.2.14.5 Line by line file reading
Above, we can see how to write out individual pieceis or lines of text, but how can we loop through a file and just get the 'next' line until the end? Here we'll use the Pythonic syntax, but read files one line at a time. Working like this allows processes to perform their tasks on data one line at a time to conserve memory when there's lots of data.

In [ ]:
## now, use the same idiom to read the data from file one line at a time
with open("data/example_text_file.txt", "r") as file_handle:
    for line in file_handle:
        print(line)

Here's a bit of text.

Here's a bit more of that text.

And finally, some final thoghts right here.

And for good measure, some more text.

### 0.2.15 File I/O with more complex data objects
Strings, numbers, text, booleans and nulls are all pretty common. However, the file I/O we've seen so far will only read/write strings. From this point we would then have to run `int()`, `float()`, etc., to coerce any found objects into their appropriate types. How can we preserve structure?

#### 0.2.15.1 Pickle
Pickling saves (serializes) Python objects. While this helpful for Python, pickles are not toally portable with other languages. Regardless, here's some basic saving and loading examples:

In [ ]:
import pickle

## open a file handle into write mode
with open("data/pickled_dictionary.p", "wb") as file_handle:
    ## create the bytes representation of our data
    bytes_pickle_of_data = pickle.dumps({"firstname": "Jake", "lastname": "Williams", "middlename": "Ryland"})
    ## write this out to a file
    file_handle.write(bytes_pickle_of_data)

## open a file handle into read mode
with open("data/pickled_dictionary.p", "rb") as file_handle:
    ## load the bytes representation of our data
    bytes_pickle_of_data = file_handle.read()
    ## convert the bytes into a Python object
    instructor_data = pickle.loads(bytes_pickle_of_data)

print(instructor_data)

{'firstname': 'Jake', 'lastname': 'Williams', 'middlename': 'Ryland'}

#### 0.2.15.2 JSON
JSON does the same for javascript, but has become a cross-language standard. Note that because JSON hails from javascript, there's no reason why it should be able to handle all native Python objects. So, while any Python object can be Pickled, only several types can by JSON'd: nulls (`None`s), booleans, integers, floats, dictionaries, and lists. So, aside from compatibility: why is JSON ever preferable to pickle? First, JSON loading/writing is just about as fast as pickling, and second, it's more secure&mdash;opening a malicious pickle can run code on your computer! There's also one more big reason that dominates:

- JSON is very human readable. The syntax essentially looks like any mixture of Python's native dicts, lists, ints, floats, nulls, bools, and strings.

In fact, Jupyter/IPython notebooks are entirely encoded as JSON objects! Here how to do the exact same work with JSON.

In [ ]:
import json

## open a file handle into write mode
with open("data/JSONd_dictionary.json", "w") as file_handle:
    ## create the JSON serialized data
    JSON_data = json.dumps({"firstname": "Jake", "lastname": "Williams", "middlename": "Ryland"})
    ## write this out to a file
    file_handle.write(JSON_data)

## open a file handle into read mode
with open("data/JSONd_dictionary.json", "r") as file_handle:
    ## load the JSON representation of our data
    JSON_data = file_handle.read()
    ## convert the JSON into a Python object
    instructor_data = json.loads(JSON_data)

print(instructor_data)

{'firstname': 'Jake', 'lastname': 'Williams', 'middlename': 'Ryland'}

#### 0.2.15.3 XML
Want to save your data as something even more portable than json? Well, the whole World Wide Web&mdash;html&mdash;is essentially just XML. To read html as data I recommend the BeautifulSoup module, which we'll get to in the next (pre-processing) lecure. If it's just XML file I/O we can use two simpler modules: `xmltodict` and `dicttoxml`:

In [ ]:
import dicttoxml, xmltodict

## let's start by loading our instructor's data from file
## open a file handle into read mode
with open("data/JSONd_dictionary.json", "r") as file_handle:
    ## load the JSON representation of our data
    JSON_data = file_handle.read()
    ## convert the JSON into a Python object
    instructor_data = json.loads(JSON_data)

XML_data = dicttoxml.dicttoxml(instructor_data)
print(XML_data)
print("")

with open("data/XMLd_dictionary.xml", "wb") as file_handle:
    ## write the XML representation of our data to file
    file_handle.write(XML_data)

with open("data/XMLd_dictionary.xml", "rb") as file_handle:
    ## read the XML representation of our data from file
    XML_data = file_handle.read()

## parse the XML data into a dict
XML_data_as_dict = xmltodict.parse(XML_data)

## Note that this module has stored the data as an ordered dictionary!
print(XML_data_as_dict)
print("")

b'<?xml version="1.0" encoding="UTF-8" ?><root><firstname type="str">Jake</firstname><lastname type="str">Williams</lastname><middlename type="str">Ryland</middlename></root>'

OrderedDict([('root', OrderedDict([('firstname', OrderedDict([('@type', 'str'), ('#text', 'Jake')])), ('lastname', OrderedDict([('@type', 'str'), ('#text', 'Williams')])), ('middlename', OrderedDict([('@type', 'str'), ('#text', 'Ryland')]))]))])

### 0.2.16 Dataframes
Finally, we'll close this chapter discussing an important tool for interacting with tabular or spreadsheet-like data&mdash;the `pandas` module (`pip3 install pandas`). `pandas` is a high-level library designed to simplify complex operations, as such, it is a very powerful tool well worth learning.

`pandas` utilizes a custom data structure called a _dataframe_. Essentially, dataframes represent tables and contain more functionality than the standard Python data types.

### 0.2.16.1 Interacting with Dataframes
We can load tabular data from a CSV file directly using `pandas` tools, rather than the basic Python tools we have used earlier. To load some [AAPL stock history from Yahoo! Finance](https://finance.yahoo.com/quote/AAPL/history?p=AAPL) into a dataframe we can use `pd.read_csv()`:

In [ ]:
import pandas as pd

AAPL = pd.read_csv("./data/APPL.csv", sep = ",", header = 0, parse_dates = [0])

# a pandas dataframe has keys like a python dictionary, the keys come from the csv's headers

print(AAPL.keys())
print()

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close'], dtype='object')

#### 0.2.16.2 Ordered indexing (slicing)
Slicing a dataframe like a list provides succicnt access to rows:

In [ ]:
# dataframes support slicing, like lists
AAPL[:10] # dataframes are displayed nicely in notebooks without the print function

        Date       Open       High        Low      Close    Volume  Adj Close
0 2016-07-13  97.410004  97.669998  96.839996  96.870003  25892200  95.442123
1 2016-07-12  97.169998  97.699997  97.120003  97.419998  24167500  95.984011
2 2016-07-11  96.750000  97.650002  96.730003  96.980003  23794900  95.550502
3 2016-07-08  96.489998  96.889999  96.050003  96.680000  28912100  95.254921
4 2016-07-07  95.699997  96.500000  95.620003  95.940002  25139600  94.525831
5 2016-07-06  94.599998  95.660004  94.370003  95.529999  30949100  94.121870
6 2016-07-05  95.389999  95.400002  94.459999  94.989998  27705200  93.589829
7 2016-07-01  95.489998  96.470001  95.330002  95.889999  26026500  94.476565
8 2016-06-30  94.440002  95.769997  94.300003  95.599998  35836400  94.190838
9 2016-06-29  93.970001  94.550003  93.629997  94.400002  36531000  93.008530

Elements and sections of dataframes can be accessed easily:

In [ ]:
# an element can be accessed using the row and column indices
print(AAPL.iloc[0, 1])

# an entire section can be sliced 2-dimensionally
AAPL.iloc[:10, :2]

97.410004

        Date       Open
0 2016-07-13  97.410004
1 2016-07-12  97.169998
2 2016-07-11  96.750000
3 2016-07-08  96.489998
4 2016-07-07  95.699997
5 2016-07-06  94.599998
6 2016-07-05  95.389999
7 2016-07-01  95.489998
8 2016-06-30  94.440002
9 2016-06-29  93.970001

#### 0.2.16.3 Associative indexing
Just like a dictionary of lists, a dataframe's columns can be accessed by name:

In [ ]:
AAPL["Open"][:10]

0    97.410004
1    97.169998
2    96.750000
3    96.489998
4    95.699997
5    94.599998
6    95.389999
7    95.489998
8    94.440002
9    93.970001
Name: Open, dtype: float64

Columns can even be accessed in groups by name, using a list of the names as keys:

In [ ]:
AAPL[["Open", "Date"]][:10]

        Open       Date
0  97.410004 2016-07-13
1  97.169998 2016-07-12
2  96.750000 2016-07-11
3  96.489998 2016-07-08
4  95.699997 2016-07-07
5  94.599998 2016-07-06
6  95.389999 2016-07-05
7  95.489998 2016-07-01
8  94.440002 2016-06-30
9  93.970001 2016-06-29

#### 0.2.16.4 Conditional indexing: Boolean masks
One of the handiest basic aspect of the dataframe data structure is its capacity to be indexed by (basically) lists of boolean values. Specifically, a index of `True` means an element/row/column will be accessed, while those marked by `False` will not:

In [ ]:
from datetime import datetime as dt

## make a mask for the dates at least as recent as Sept. 1 2018
mask_since_july_10 = [date >= dt.strptime("2016-07-10", "%Y-%m-%d") for date in AAPL["Date"]]

## apply the mast to the columns
AAPL[mask_since_july_10]

        Date       Open       High        Low      Close    Volume  Adj Close
0 2016-07-13  97.410004  97.669998  96.839996  96.870003  25892200  95.442123
1 2016-07-12  97.169998  97.699997  97.120003  97.419998  24167500  95.984011
2 2016-07-11  96.750000  97.650002  96.730003  96.980003  23794900  95.550502

#### 0.2.16.5 Basic dataframe file i/o
`pandas` provides numerous file i/o capabilities. Dataframes can be written to csv and even Microsoft Excel (xls) formats. (This requires the `xlwt` module. `pip3 install xlwt`.) (Pandas can read Excel spreadsheets, too.)

In [ ]:
slice_of_AAPL = AAPL.iloc[:, :2]

slice_of_AAPL.to_csv("./data/AAPL_first_two_columns.csv", index = False) # we don't want to write the row numbers to file, so index = False

slice_of_AAPL.to_excel("./data/AAPL_first_two_columns.xls", index = False)